/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

@font-face {
  font-family: avenir;
  src: url(../src/assets/fonts/AvenirRoman.otf);
}

body {
  background-color: #f1cc07;
  /* position: relative; */
  /* height: 200px; */
}

.rec {
  position: absolute;
  left: -92px;
    top: -328px;
  width: 974.87px;
  height: 974.87px;
  background: #d50000;
  transform: rotate(142.89deg);
  z-index: -1;
}
.bottom {
  position: absolute;
  width: 974.87px;
  height: 974.87px;
  background: #d50000;
  transform: rotate(142.89deg);
  right: -250px;
  bottom: -300px;
  z-index: -1;
}
.contain{
  position: relative;
  overflow: hidden;
}
