/* Common */
.btn-red {
    height: 50px;
    background: #D50000;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    margin: 9px 0 18px;
    transition: background-color 1s, color 1s;
}

.color-white {
    color: white;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-red:hover {
    background: white;
    color: #D50000;
    border: 1px solid #D50000;
    cursor: pointer;
}

.bg-red {
    background-color: #D50000;
}

.font-50 {
    font-size: 50px;
}

.font-40 {
    font-size: 40px;
}

.font-25 {
    font-size: 25px;
}

.row {
    width: 100%;
}

.row > * {
    display: inline-block;
}

.col-2 {
    width: 50%;
    height: 100%;
    position: relative;
}

/* Main */
.container {
    width: 88.6%;
    /* height: 2836px; */
    margin: 50px auto;
    font-family: avenir;
    background: #FFFFFF;
    box-shadow: 11px 4px 19px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
    /* Navbar */
.navbar {
    height: 90px;
    padding: 13px 28px 0 73px;
    width: 91.22%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#navlinks {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.nav-link {
    margin: 17px 0 26px;
}

.nav-link > a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    line-height: 34.15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link > a:hover {
    color: #D50000;
}

.navbar > .gonow {
    width: 23.2%;
}
    /* Slider */
#slider {
    width: 100%;
    padding-top: 35.65%;
    position: relative;
    background: url(../image/dock.png) top center / cover no-repeat;
}

#slider > .description {
    width: 40%;
    height: 75%;
    position: absolute;
    top: 12%;
    left: 50%;
    background: rgba(255, 255, 255, 0.86);
    border-radius: 25px;
    padding: 26px 84px;
}

#slider > .description > h1 {
    font-weight: bold;
    line-height: 68.3px;
}

#slider > .description > p {
    text-align: justify;
    font-size: 20px;
    line-height: 23px;
}

#slider > .description > .des-btn {
    width: 50%;
}

#slider > .slider-btn {
    cursor: pointer;
    font-size: 25px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 0%;
    background: rgba(255, 255, 255, 0.86);
}

#slider > #next {
    right: 0;
}

#slider > #prev {
    right: 55px;
}

#slider > .slider-btn:hover {
    background: #C4C4C4;
}
    /* About */
#about {
    height: 600px;
    position: relative;
}

#regist{
    position: absolute;
    top:50%;
    left: 50%;
    margin: -25% 0 0 -25%;
    width: 50%;
    height: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#regist > * {
    text-align: center;
}

#facilities {
    position: absolute;
    top:10%;
}

#facilities > li {
    color: red;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

#facilities > li > p {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0 10px;
}
    /* Modal */
#modal {
    padding: 24px 110px;
}

#operation {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.modal {
    width: 30%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal > h4 {
    font-weight: normal;
    margin-top: 5px;
    font-size: 25px;
    text-transform: uppercase;
    height: 10%;
    text-align: center;
    color: white;
}

.modal > .modal-btn {
    width: 100%;
    height: 90%;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.modal > .modal-btn:hover {
    box-shadow: 11px 4px 19px rgba(141, 140, 140, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal > .modal-btn > div{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -25% 0 0 -25%;
}

.modal:nth-child(1) > .modal-btn{
    background-color: #2BAE0A;
}
.modal:nth-child(2) > .modal-btn{
    background-color: #F1CC07;
}
.modal:nth-child(3) > .modal-btn{
    background-color: #1736DA;
}
    /* Partner */
#partner {
    padding: 48px 220px;
}

#partner > .row {
    display: flex;
    justify-content: space-between;
}

#partner .partner-container {
    position: relative;
    border-radius: 25px;
    width: 45%;
    padding-top: 45%;
    background-color: rgba(35, 4, 4, 0.51);
}

#partner .partner-container > .partner-item {
    position: absolute;
    border-radius: 25px;
    padding-top: 31.25%;
    width: 31.25%;
    margin: -15.625% 0 0 -15.625%;
    cursor: pointer;
    transition: box-shadow .5s;
}

#partner .partner-container > .partner-item:hover {
    box-shadow: 11px 4px 19px rgba(141, 140, 140, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#partner .partner-container:nth-child(1) > .partner-item:nth-child(1) {
    top: 25%; left: 25%;
    background: url(../image/grab-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(1) > .partner-item:nth-child(2) {
    top: 25%; left: 75%;
    background: url(../image/ahamove-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(1) > .partner-item:nth-child(3) {
    top: 75%; left: 25%;
    background: url(../image/lalamove-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(1) > .partner-item:nth-child(4) {
    top: 75%; left: 75%;
    /* background: url(../image/j&t-logo.png) center / contain no-repeat; */
}

#partner .partner-container:nth-child(2) > .partner-item:nth-child(1) {
    top: 25%; left: 25%;
    background: url(../image/j&t-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(2) > .partner-item:nth-child(2) {
    top: 25%; left: 75%;
    background: url(../image/ghtk-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(2) > .partner-item:nth-child(3) {
    top: 75%; left: 25%;
    background: url(../image/viettelpost-logo.png) center / contain no-repeat;
}

#partner .partner-container:nth-child(2) > .partner-item:nth-child(4) {
    top: 75%; left: 75%;
    background: url(../image/ghn-logo.png) center / contain no-repeat;
}
    /* Footer */
#footer {
    padding: 24px 110px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

#social {
    padding-top: 1%;
    padding-right: 3%;
}

#social > * ,
#contact > *{
    margin: 20px 10px;
}

#social > i {
    cursor: pointer;
}

#social > i:hover {
    color: #f1cc07;
}

#contact {
    padding-right: 3%;
}

#contact > .field {
    width: 80%;
    border-bottom:1px solid white ;
}

#contact > .field > * {
    height: 20px;
}

#contact > .field > h4 {
    width: 20%;
}

#contact > .field > input {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: white;
    width: 75%;
}

#contact-submit {
    height: 50px;
    width: 100px;
    background-color: #f1cc07;
    color: #D50000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}